.aboutFirstSec {
    padding: 30px 0px;
}

.aboutFirstSecBorder {
    border: 2px solid #008080;
    width: 50px;
    margin-bottom: 10px;
}

.aboutFirstSecColImg img {
    border-radius: 5px;
    width: 100%; 
    height: auto;
}

.aboutFirstSecColTxt span {
    color: #008080;
    font-weight: bold;
}
